<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-storage.js"></script>
	<script src="{{url_for('static',filename='js/login.js')}}"></script>
</head>
<body>
	<img src="{{ url_for('static', filename='images/' + 'background.jpg') }}" class="img-fluid">
	<div class="container">
		<center>
		<br>
		<h1 id="content1"> Carvaan </h1>
		<br>
		<div class="row">
			<div class="col"></div>
			<div class="col-lg-4 col-sm-6">
				{{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
				<br>
				{{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
			</div>
			<div class="col"></div>
		</div>
		<br>
		<h4 id="final"></h4>
		<br>
		<button id="btn-login">
			{{ form.submit(class="btn btn-outline-dark") }}
			</button>
		<br>
		<button class="btn btn-link" id="btn1" >
			<a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
		</button>
		</center>
	</div>

</body>
</html>
