<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/re')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>

</head>

<body>
	<img src="{{ url_for('static', filename='images/' + 'register.jpg') }}" class="img-fluid">
    <div class="container">
	    <div class="row" >
            <div class="col">
		<h1 class="pull-left"> Carvaan </h1>
		<br>
            </div>
            <div class="col">
                <form action="/login/index.html" id="query" class="form-inline" method="POST">
                    <script src="{{url_for('static',filename='js/register.js')}}"></script>
                    <div class="form-group" id="team" ><br>
                        {{ form.team_name.label(class="form-control-label") }}

                    {% if form.team_name.errors %}
                        {{ form.team_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.team_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.team_name(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-group"  id="email">
                        {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-group" id="number">
                        {{ form.phone_number.label(class="form-control-label") }}
                    {% if form.phone_number.errors %}
                        {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone_number(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-check" id="checkbox">
                        {{ form.upload1(class="form-check-input") }}
                    {{ form.upload1.label(class="form-check-label") }}
                        {{ form.upload2(class="form-check-input") }}
                    {{ form.upload2.label(class="form-check-label") }}

                    </div>
                    <h3 id="content">Attach a document explaining the idea</h3>
                    <div class="btn" id="btn2">
                        {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                        {{ form.submit(class="ui green button",id = "uploadButton") }}
                    </div>
                    <div class="form-group">
                {{ form.submit(class="btn",id = "btn1") }}
            </div>
                </form>
            </div>
       </div>
    </div>

</body>
</html>
